employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
            <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:byte" name="age"/>
              <xs:element type="xs:int" name="salary"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:long" name="phone"/>
              <xs:element type="xs:string" name="designation"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
